body{
    font-family: Arial, Helvetica, sans-serif;
    color: #262626;
    font-size: 16px;
}

#header{
    padding: 1em;
    margin: .5em;
    border: 1px solid black;
    font-size: 20px;
    background-color: blanchedalmond;
}